#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

#setup-info {
    height: 32px;
}

#setup-info span span {
    font-family: monospace;
}

.small-card {
    min-height: 32px;
}

.clickable-card {
    cursor: pointer;
}

.spk-dsmversion {
    font-size: 0.7rem;
    padding: 0 16px 0 16px;
    line-height: 8px;
}

.spk-details {
    max-height: 200px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.spk-details-hidden {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div.spk-icon {
    display: inline-block;
    top: 16px;
    right: 16px;
    position: absolute;
    line-height: 0;
}

a.spk-icon {
	border-bottom: none;
}

div.spk-icon ins {
    background: url('../images/beta_badge.png') no-repeat 0 0;
    position: absolute;
    left: -7px;
    top: -7px;
    width: 40px;
    height: 40px;
}

div.spk-icon sign {
    background: url('../images/signed_badge.png') no-repeat 0 0;
    position: absolute;
    left: 50px;
    top: -15px;
    width: 40px;
    height: 40px;
}

div.spk-icon snap {
    background: url('../images/snapshot_badge.png') no-repeat 0 0;
    position: absolute;
    left: 42px;
    top: 35px;
    width: 40px;
    height: 40px;
}

#fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}